{% load static %}
<div class="bg-dark text-white p-3" style="width:250px; min-height:100vh;">

    <div class="text-center mb-4">
        <img src="{% static 'img/Logo1.jpeg' %}" width="120">
        <h5 class="mt-2">CONSTRU-TRANS</h5>
    </div>

    <ul class="nav flex-column">

<a href="{% url 'perfil_cliente' %}" class="nav-link text-white">
<i class="bi bi-person"></i> Perfil
</a>

<a href="{% url 'mis_pedidos' %}" class="nav-link text-white">
<i class="bi bi-box"></i> Mis pedidos
</a>

       <a href="{% url 'seguimiento_pedidos' %}" class="nav-link text-white">
<i class="bi bi-truck"></i> Seguimiento
</a>

    <a href="{% url 'historial_pedidos' %}"  class="nav-link text-white">
<i class="bi bi-clock-history"></i> Historial
</a>

        <hr>

        <a href="{% url 'logout' %}" class="nav-link text-danger">
<i class="bi bi-box-arrow-right"></i> Cerrar sesión
</a>

    </ul>

</div>