{% load static %}
<aside class="bg-dark text-white p-3 vh-100" style="width:250px;">

    <div class="text-center mb-4">
        <img src="{% static 'img/Logo1.jpeg' %}" width="200" style="display:block;margin:auto;margin-bottom:10px;">
        <h4 class="fw-bold">CONSTRU-TRANS</h4>
    </div>

    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a href="{% url 'usuarios:panel' %}" class="nav-link text-white">
                <i class="bi bi-speedometer2 me-2"></i> Panel General
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="{% url 'ordenes:lista_ordenes' %}" class="nav-link text-white">
                <i class="bi bi-box-seam me-2"></i> Pedidos
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="{% url 'usuarios:lista_usuarios' %}" class="nav-link text-white">
                <i class="bi bi-people me-2"></i> Clientes
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="{% url 'usuarios:materiales_lista' %}" class="nav-link text-white">
                <i class="bi bi-box me-2"></i> Materiales
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="{% url 'usuarios:lista_conductores' %}" class="nav-link text-white">
                <i class="bi bi-truck me-2"></i> Conductores
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="{% url 'usuarios:lista_vehiculos' %}" class="nav-link text-white">
                <i class="bi bi-truck-flatbed me-2"></i> Vehículos
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="{% url 'usuarios:reportes_admin' %}" class="nav-link text-white">
                <i class="bi bi-bar-chart-line me-2"></i> Reportes
            </a>
        </li>

        <hr class="bg-light">

        <li class="nav-item">
            <a href="{% url 'usuarios:logout' %}" class="nav-link text-danger">
                <i class="bi bi-box-arrow-right me-2"></i> Cerrar sesión
            </a>
        </li>
    </ul>

</aside>