{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Inicio de sesión</title>
    <link rel="shortcut icon" href="{% static 'img/Logo1.jpeg' %}" type="image/x-icon">
</head>
<body>

<div style="text-align: center; margin-top: 20px;">
    <img src="{% static 'img/Logo1.jpeg' %}" width="200" alt="Logo">
    <h2>Iniciar sesión</h2>
</div>

<form method="POST">
    {% csrf_token %}

    <label>Usuario</label>
    <input type="text" name="username" required>

    <br><br>

    <label>Contraseña</label>
    <input type="password" name="password" required>

    <br><br>

    <button type="submit">Ingresar</button>
</form>

<a href="{% url 'inicio' %}">Volver al inicio</a>

</body>
</html>