{% extends "base.html" %}

{% block content %}
<h2>Crear Orden de Transporte</h2>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label>Cliente</label>
        <select name="cliente" class="form-control">
            {% for cliente in clientes %}
                <option value="{{ material.id }}">{{ material.nombre }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label>Material / Producto</label>
        <select name="material" class="form-control">
            {% for material in materiales %}
                <option value="{{ material.id }}">{{ material.nombre }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label>Dirección origen</label>
        <input type="text" name="origen" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Dirección destino</label>
        <input type="text" name="destino" class="form-control" required>
    </div>

    <button class="btn btn-primary">Crear Orden</button>
</form>
{% endblock %}