    {% extends "Cliente/base_cliente.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}

<div class="row g-4 mb-4">

<div class="col-md-4">
<div class="card shadow-sm">
<div class="card-body">
<h6>Pedidos Activos</h6>
<h3>{{ pedidos_activos }}</h3>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card shadow-sm">
<div class="card-body">
<h6>Total Gastado</h6>
<h3>${{ total_gastado }}</h3>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card shadow-sm">
<div class="card-body">
<h6>Entregas Completadas</h6>
<h3>{{ entregadas }}</h3>
</div>
</div>
</div>

</div>


<div class="table-container mt-4">
    <div class="p-3 border-bottom bg-light">
        <h5 class="mb-0 fw-bold">Últimos pedidos</h5>
    </div>

    <table class="table table-hover mb-0">
        <thead>
            <tr>
                <th class="text-center">ID Pedido</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in ultimos_pedidos %}
            <tr>
                <td class="text-center text-muted fw-bold">CT-{{ pedido.id }}</td>
                <td class="text-center">{{ pedido.fecha|date:"d/m/Y" }}</td>
                <td class="text-center">
                    <span class="badge {% if pedido.estado == 'pendiente' %}bg-warning{% elif pedido.estado == 'entregado' %}bg-success{% else %}bg-info{% endif %} rounded-pill px-3">
                        {{ pedido.estado|title }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}