{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/Logo1.jpeg' %}" type="image/x-icon">
    <title>Confirmar contraseña</title>
    <link rel="stylesheet" href="{% static 'css/loginestilos.css' %}">
</head>
<body>
    <div class="card">
        <img src="{% static 'img/Logo1.jpeg' %}" width="200" style="display:block;margin:auto;margin-bottom:10px;">
        <h2>Nueva contraseña</h2>
        <p style="text-align:center; color:#57606f; margin-bottom:20px;">
            Ingresa tu nueva contraseña para acceder a tu cuenta.
        </p>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div style="margin-bottom:15px;">
                    {{ field }}
                    {% if field.errors %}
                        <div style="color:red; font-size:12px; text-align: left; margin-top: 5px;">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Cambiar contraseña</button>
        </form>
    </div>
</body>
</html>