{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="{% static 'img/Logo1.jpeg' %}" type="image/x-icon">
<title>Recuperar contraseña</title>

<link rel="stylesheet" href="{% static 'css/loginestilos.css' %}">

</head>

<body>

<div class="card">

<img src="{% static 'img/Logo1.jpeg' %}" width="200" style="display:block;margin:auto;margin-bottom:10px;">

<h2>Recuperar contraseña</h2>

<form method="POST">

{% csrf_token %}

<input type="email" name="email" placeholder="Ingresa tu correo" required>

<button type="submit">Enviar enlace</button>

</form>

<div class="links">

<p><a href="{% url 'usuarios:login' %}">Volver al login</a></p>

</div>

</div>

</body>
</html>